<h3>Steam dataset from <a href = https://www.kaggle.com/datasets/tamber/steam-video-games> Kaggle </a>

In [1]:
import pandas as pd

In [2]:
#Load data in google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/CSCI 426/steam-200k.csv')
df.drop(columns=['0'],inplace=True)
df.dropna()
print(df.count(),end='\n\n')
print(df.info(), end='\n\n')
print(df.describe(), end='\n\n')
df

151603712                     199999
The Elder Scrolls V Skyrim    199999
purchase                      199999
1.0                           199999
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199999 entries, 0 to 199998
Data columns (total 4 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   151603712                   199999 non-null  int64
 1   The Elder Scrolls V Skyrim  199999 non-null  object
 2   purchase                    199999 non-null  object
 3   1.0                         199999 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.1+ MB
None

          151603712            1.0
count  1.999990e+05  199999.000000
mean   1.036556e+08      17.874468
std    7.208084e+07     138.057292
min    5.250000e+03       0.100000
25%    4.738420e+07       1.000000
50%    8.691201e+07       1.000000
75%    1.542309e+08       1.300000
max    3.099031e+08   11754.000000

        151603712  The Elder Scrolls V Skyrim  purchase    1.0
0       151603712  The Elder Scrolls V Skyrim      play  273.0
1       151603712                   Fallout 4  purchase    1.0
2       151603712                   Fallout 4      play   87.0
3       151603712                       Spore  purchase    1.0
4       151603712                       Spore      play   14.9
...           ...                         ...       ...    ...
199994  128470551                 Titan Souls      play    1.5
199995  128470551  Grand Theft Auto Vice City  purchase    1.0
199996  128470551  Grand Theft Auto Vice City      play    1.5
199997  128470551                        RUSH  purchase    1.0
199998  128470551                        RUSH      play    1.4

[199999 rows x 4 columns]

In [4]:
df.rename(columns = {'151603712': 'userID', 'The Elder Scrolls V Skyrim': 'Game Title', '1.0': 'Hours'}, inplace = True)
df

           userID                  Game Title  purchase  Hours
0       151603712  The Elder Scrolls V Skyrim      play  273.0
1       151603712                   Fallout 4  purchase    1.0
2       151603712                   Fallout 4      play   87.0
3       151603712                       Spore  purchase    1.0
4       151603712                       Spore      play   14.9
...           ...                         ...       ...    ...
199994  128470551                 Titan Souls      play    1.5
199995  128470551  Grand Theft Auto Vice City  purchase    1.0
199996  128470551  Grand Theft Auto Vice City      play    1.5
199997  128470551                        RUSH  purchase    1.0
199998  128470551                        RUSH      play    1.4

[199999 rows x 4 columns]

In [6]:
df.loc[(df['purchase']=='purchase') & (df['Hours'] == 1.0), 'Hours'] = 0.0

In [13]:
df.drop(columns=['purchase'], inplace=True)
df

           userID                  Game Title  Hours
0       151603712  The Elder Scrolls V Skyrim  273.0
1       151603712                   Fallout 4    0.0
2       151603712                   Fallout 4   87.0
3       151603712                       Spore    0.0
4       151603712                       Spore   14.9
...           ...                         ...    ...
199994  128470551                 Titan Souls    1.5
199995  128470551  Grand Theft Auto Vice City    0.0
199996  128470551  Grand Theft Auto Vice City    1.5
199997  128470551                        RUSH    0.0
199998  128470551                        RUSH    1.4

[199999 rows x 3 columns]